body, html {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    
}

p {
    margin: 0;
}

main {
    background-color: red;
    color: white;
    width: 370px;
    height: 280px;
    text-align: center;
    border-radius: 5px;
}

.name {
    background-color: white;
    color: black;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4em;
}

.greeting {
    font-weight: 400;
    font-size: 6em;
}

.my-name-is {
    font-size: 2em;
    line-height: 50px;
}
